#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.player-card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.player-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-ranking {
  width: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10px;
}

.player-image:hover {
  transform: scale(1.05);
}