#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.player-card-container {
  display: flex;
  justify-content: center;
  gap: clamp(1px, 4vw, 100px);
}

.player-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.player-ranking {
  width: 2rem;
  font-size: clamp(1rem, 1.75vw, 2rem);
  font-weight: bold;
}

.player-image {
  width: clamp(60px, 8vw, 130px);
  height: auto;
}

.player-image:hover {
  transform: scale(1.05);
}

.player-summary {
   font-size: clamp(1rem, 1.30vw, 1.3rem)
}